.App {
	text-align: center;
}

header {
	font-size: xx-large;
	margin: 25px 0px;
}

.form-fields {
	font-size: large;
	display: flex;
	justify-content: flex-end;
	width: 250px;
	margin: auto;
	border-radius: 5px;
	padding: 10px;
	background-color: white;
}

.form-fields > input {
	border-radius: 5px;
	height: 25px;
	font-size: large;
}

.submit-input {
	padding: 10px 20px;
	border: none;
	border-radius: 10px;
	font-size: medium;
}
